.history {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .history .div {
    background-color: #ffffff;
    border: 1px solid;
    border-color: transparent;
    height: 1080px;
    position: relative;
    width: 1920px;
  }
  
  .history .bar {
    height: 83px;
    left: 39px;
    position: absolute;
    top: 26px;
    width: 1844px;
  }
  
  .history .rectangle {
    background-color: #0057b8;
    height: 3px;
    left: 0;
    position: absolute;
    top: 80px;
    width: 1842px;
  }
  
  .history .text-wrapper {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 151px;
  }
  
  .history .group {
    height: 54px;
    left: 1359px;
    position: absolute;
    top: 19px;
    width: 483px;
  }
  
  .history .menu {
    height: 54px;
    position: relative;
    width: 489px;
  }
  
  .history .overlap {
    height: 43px;
    left: 213px;
    position: absolute;
    top: 0;
    width: 272px;
  }
  
  .history .rectangle-2 {
    background-color: #d9d9d9;
    height: 3px;
    left: 104px;
    position: absolute;
    top: 20px;
    transform: rotate(-90deg);
    width: 40px;
  }
  
  .history .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
    white-space: nowrap;
    width: 115px;
  }
  
  .history .profile {
    height: 43px;
    left: 136px;
    position: absolute;
    top: 0;
    width: 135px;
  }
  
  .history .overlap-group {
    background-color: #d9d9d9;
    border-radius: 50px;
    height: 43px;
    position: relative;
    width: 133px;
  }
  
  .history .image {
    background-image: url(/image/image-1.PNG);
    height: 31px;
    left: 11px;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 35px;
  }
  
  .history .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 56px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
    white-space: nowrap;
    width: 71px;
  }
  
  .history .rectangle-3 {
    background-color: #1428a0;
    border-radius: 100px;
    height: 6px;
    left: 96px;
    position: absolute;
    top: 48px;
    width: 106px;
  }
  
  .history .text-wrapper-4 {
    color: #1428a0;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 99px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
    white-space: nowrap;
    width: 104px;
  }
  
  .history .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
    white-space: nowrap;
    width: 89px;
  }
  
  .history .overlap-2 {
    height: 837px;
    left: 39px;
    position: absolute;
    top: 164px;
    width: 1178px;
  }
  
  .history .history-box {
    height: 837px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1178px;
  }
  
  .history .overlap-group-wrapper {
    height: 133px;
    left: 0;
    position: absolute;
    top: 704px;
    width: 1184px;
  }
  
  .history .overlap-group-2 {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 133px;
    position: relative;
    width: 1178px;
  }
  
  .history .overlap-group-3 {
    height: 118px;
    left: 24px;
    position: absolute;
    top: 15px;
    width: 1131px;
  }
  
  .history .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 1131px;
  }
  
  .history .pull-request-id {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 33px;
    width: 626px;
  }
  
  .history .text-wrapper-7 {
    color: #000000a1;
    font-family: "Inter-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    left: 1055px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 91px;
    width: 123px;
  }
  
  .history .overlap-wrapper {
    height: 133px;
    left: 0;
    position: absolute;
    top: 170px;
    width: 1182px;
  }
  
  .history .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    width: 1131px;
  }
  
  .history .div-wrapper {
    height: 133px;
    left: 0;
    position: absolute;
    top: 522px;
    width: 1184px;
  }
  
  .history .p {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 33px;
    width: 570px;
  }
  
  .history .history-box-2 {
    height: 133px;
    left: 0;
    position: absolute;
    top: 340px;
    width: 1184px;
  }
  
  .history .pull-request-id-2 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 33px;
    width: 666px;
  }
  
  .history .history-box-3 {
    height: 133px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1184px;
  }
  
  .history .pull-request-id-3 {
    color: transparent;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 33px;
    width: 475px;
  }
  
  .history .span {
    color: #000000;
  }
  
  .history .text-wrapper-9 {
    color: #ff0000;
  }
  
  .history .pull-request-id-4 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 74px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 217px;
    width: 498px;
  }
  
  .history .overlap-3 {
    height: 837px;
    left: 1247px;
    position: absolute;
    top: 164px;
    width: 640px;
  }
  
  .history .box {
    height: 837px;
    left: 0;
    position: absolute;
    top: 0;
    width: 640px;
  }
  
  .history .overlap-4 {
    background-color: #EBEBEB;
    height: 837px;
    position: relative;
    width: 634px;
  }
  
  .history .rectangle-4 {
    background-color: #d9d9d9;
    height: 721px;
    left: 28px;
    position: absolute;
    top: 91px;
    width: 584px;
  }
  
  .history .gmail-com {
    color: transparent;
    font-family: "Inter-Medium", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    width: 315px;
  }
  
  .history .text-wrapper-10 {
    color: #000000;
    font-weight: 500;
  }
  
  .history .text-wrapper-11 {
    color: #3c3737;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
  }
  
  .history .apache {
    color: transparent;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 42px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 202px;
    width: 563px;
  }
  
  .history .MIT-permitted-file {
    color: transparent;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 42px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 529px;
    width: 563px;
  }
  
  .history .text-wrapper-12 {
    color: #0057b8;
  }
  
  .history .text-wrapper-13 {
    color: #000000;
    font-size: 15px;
  }
  
  .history .detected-licenses {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 42px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 128px;
    width: 592px;
  }
  
  .history .text-wrapper-14 {
    color: #000000fc;
  }
  
  .history .text-wrapper-15 {
    color: #ff0000;
    font-size: 22px;
  }
  